---
import Icon from './Icon.astro';
import ThemeToggle from './ThemeToggle.astro';
import type { iconPaths } from './IconPaths';

/** Main menu items */
const textLinks: { label: string; href: string }[] = [
	{ label: 'Work', href: '/work/' },
	{ label: 'About', href: '/about/' },
];

const mobileTextLinks: { label: string; href: string }[] = [
	{ label: 'Home', href: '/' },
	...textLinks,
];

/** Icon links to social media */
const iconLinks: { label: string; href: string; icon: keyof typeof iconPaths }[] = [
	{ label: 'LinkedIn', href: 'https://www.linkedin.com/in/manuelmazaira', icon: 'linkedin-logo' },
	{ label: 'Instagram', href: 'https://www.instagram.com/mannymazaira.media', icon: 'instagram-logo' },
];
---

<nav>
	<div class="menu-header">
		<a href="/" class="site-title">
			<div class="logo">
				 <img src="/MMM_1.svg" alt="Site Logo" width="80" height="80" />
			</div>
		</a>
		<menu-button>
			<template>
				<button class="menu-button" aria-expanded="false">
					<span class="sr-only">Menu</span>
					<Icon icon="list" />
				</button>
			</template>
		</menu-button>
	</div>
	
	<!-- Desktop Navigation -->
	<div class="desktop-nav">
		<ul class="nav-items">
			{
				textLinks.map(({ label, href }) => (
					<li>
						<a
							aria-current={Astro.url.pathname === href}
							class:list={[
								'link',
								{
									active:
										Astro.url.pathname === href ||
										(href !== '/' && Astro.url.pathname.startsWith(href)),
								},
							]}
							href={href}
						>
							{label}
						</a>
					</li>
				))
			}
		</ul>
		<div class="menu-footer">
			<div class="action-buttons">
				<a href="mailto:leakedthought@gmail.com" class="email-button">
					<Icon icon="paper-plane-tilt" size="1.2em" />
					Say Hi... 👋
				</a>
				<div class="socials">
					{
						iconLinks.map(({ href, icon, label }) => (
							<a href={href} class="social">
								<span class="sr-only">{label}</span>
								<Icon icon={icon} />
							</a>
						))
					}
				</div>
				<div class="theme-toggle">
					<ThemeToggle />
				</div>
			</div>
		</div>
	</div>

	<!-- Mobile Navigation -->
	<div id="menu-content" hidden>
		<button class="close-button" aria-label="Close Menu">
			✕
		</button>
		<ul class="nav-items">
			{
				mobileTextLinks.map(({ label, href }) => (
					<li>
						<a
							aria-current={Astro.url.pathname === href}
							class:list={[
								'link',
								{
									active:
										Astro.url.pathname === href ||
										(href !== '/' && Astro.url.pathname.startsWith(href)),
								},
							]}
							href={href}
						>
							{label}
						</a>
					</li>
				))
			}
		</ul>
		<div class="mobile-menu-footer">
			<a href="mailto:leakedthought@gmail.com" class="email-button">
				<Icon icon="paper-plane-tilt" size="1.2em" />
				Say Hi... 👋
			</a>
			<div class="socials">
				{
					iconLinks.map(({ href, icon, label }) => (
						<a href={href} class="social">
							<span class="sr-only">{label}</span>
							<Icon icon={icon} />
						</a>
					))
				}
			</div>
		</div>
	</div>
</nav>

<script>
	class MenuButton extends HTMLElement {
		constructor() {
			super();

			// Inject menu toggle button when JS runs.
			this.appendChild(this.querySelector('template')!.content.cloneNode(true));
			const btn = this.querySelector('button')!;

			// Hide menu (shown by default to support no-JS browsers).
			const menu = document.getElementById('menu-content')!;
			menu.hidden = true;
			// Add "menu-content" class in JS to avoid covering content in non-JS browsers.
			menu.classList.add('menu-content');

			/** Set whether the menu is currently expanded or collapsed. */
			const setExpanded = (expand: boolean) => {
				btn.setAttribute('aria-expanded', expand ? 'true' : 'false');
				menu.hidden = !expand;
			};

			// Toggle menu visibility when the menu button is clicked.
			btn.addEventListener('click', () => setExpanded(menu.hidden));

			// Add close button functionality
			const closeButton = menu.querySelector('.close-button');
			closeButton?.addEventListener('click', () => setExpanded(false));

			// Hide menu button for large screens.
			const handleViewports = (e: MediaQueryList | MediaQueryListEvent) => {
				setExpanded(e.matches);
				btn.hidden = e.matches;
			};
			const mediaQueries = window.matchMedia('(min-width: 50em)');
			handleViewports(mediaQueries);
			mediaQueries.addEventListener('change', handleViewports);
		}
	}
	customElements.define('menu-button', MenuButton);

	function updateNavBackground() {
		const nav = document.querySelector('nav');
		if (window.scrollY > 20) {
			nav?.classList.add('scrolled');
		} else {
			nav?.classList.remove('scrolled');
		}
	}

	// Add scroll event listener
	window.addEventListener('scroll', updateNavBackground);
	
	// Check initial scroll position
	updateNavBackground();

	// Handle Astro page transitions
	document.addEventListener('astro:page-load', () => {
		updateNavBackground();
	});
</script>

<style>
	:root {
		--nav-height: 80px;
	}

	nav {
		z-index: 9999;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		background: transparent;
		font-family: var(--font-brand);
		font-weight: 500;
		margin-bottom: 0.5rem;
		height: var(--nav-height);
		transition: background-color 0.3s ease;
	}

	nav.scrolled {
		background: var(--gray-999);
	}

	.menu-header {
		display: flex;
		justify-content: space-between;
		gap: 0.5rem;
		padding: 1.5rem;
	}

	.site-title {
		display: flex;
		gap: 0.5rem;
		align-items: center;
		line-height: 1.1;
		color: var(--gray-0);
		text-decoration: none;
	}

.logo {
  font-family: var(--font-brand);
  font-size: 2rem;
  font-weight: 700;
  color: var(--accent-regular);
  background: none; /* Remove background */
  -webkit-background-clip: unset; /* Unset background-clip */
  -webkit-text-fill-color: unset; /* Unset text-fill-color */
  background-clip: unset; /* Unset background-clip */
  line-height: 1;
  width: 2.5em;
  height: 2.5em;
  transition: transform 0.2s ease;
  border: none; /* Remove border if there is any */
  box-shadow: none; /* Remove box shadow if there is any */
}

.logo:hover {
  transform: scale(1.1);
}

/* Add this media query */
@media (max-width: 50em) {
  .logo {
    margin-top: -20px;
  }
}

	.logo:hover {
		transform: scale(1.1);
		border-color: var(--accent-dark);
	}

	:global(.logo svg) {
		width: 100%;
		height: 100%;
		stroke: var(--accent-regular);
		fill: none;
		stroke-width: 16;
		stroke-linecap: round;
		stroke-linejoin: round;
	}

	:global(.logo:hover svg) {
		stroke: var(--accent-dark);
	}

	.menu-button {
		position: relative;
		display: flex;
		border: 0;
		border-radius: 999rem;
		padding: 0.5rem;
		font-size: 1.5rem;
		color: var(--gray-300);
		background: radial-gradient(var(--gray-900), var(--gray-800) 150%);
		box-shadow: var(--shadow-md);
	}

	.menu-button[aria-expanded='true'] {
		color: var(--gray-0);
		background: linear-gradient(180deg, var(--gray-600), transparent),
			radial-gradient(var(--gray-900), var(--gray-800) 150%);
	}

	.menu-button[hidden] {
		display: none;
	}

	.menu-button::before {
		position: absolute;
		inset: -1px;
		content: '';
		background: var(--gradient-stroke);
		border-radius: 999rem;
		z-index: -1;
	}

	.menu-content {
		position: fixed;
		top: 0;
		right: -100%;
		bottom: 0;
		width: 300px;
		height: 100vh;
		background-color: var(--gray-999);
		transition: right 0.3s ease-in-out;
		box-shadow: var(--shadow-lg);
	}

	.menu-content[hidden] {
		display: block;
		right: -100%;
	}

	.menu-content:not([hidden]) {
		right: 0;
	}

	.nav-items {
		margin-top: calc(var(--nav-height) - 1rem);
		padding: 2rem 1.5rem;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	.nav-items li {
		list-style: none;
	}

	.nav-items .link {
		display: block;
		font-size: var(--text-lg);
		padding: 0.5rem;
		font-weight: 800;
		color: var(--gray-300);
	}

	.nav-items .link.active {
		color: var(--accent-regular);
	}

	.link {
		display: inline-block;
		color: var(--gray-300);
		text-decoration: none;
		transition: color 0.2s ease;
	}

	.link:hover {
		color: var(--accent-regular);
	}

	.link.active {
		color: var(--gray-0);
	}

	.menu-footer {
		--icon-size: var(--text-xl);
		--icon-padding: 0.5rem;

		display: flex;
		justify-content: space-between;
		gap: 0.75rem;
		padding: 0.5rem 1.5rem 0.5rem 0.5rem;
		background-color: var(--gray-999);
		border-radius: 0 0 0.75rem 0.75rem;
		box-shadow: var(--shadow-lg);
	}

	.socials {
		display: flex;
		flex-wrap: wrap;
		gap: 0.625rem;
		font-size: var(--icon-size);
	}

	.social {
		display: flex;
		padding: var(--icon-padding);
		text-decoration: none;
		color: var(--accent-dark);
		transition: color var(--theme-transition);
	}

	.social:hover,
	.social:focus {
		color: var(--accent-text-over);
	}

	.action-buttons {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	.download-cv {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		padding: 0.5rem 1.5rem;
		border-radius: 999rem;
		background: var(--gradient-accent);
		color: var(--accent-text-over);
		text-decoration: none;
		font-size: var(--text-sm);
		transition: background-color var(--theme-transition);
	}

	.download-cv:hover {
		background: var(--gradient-accent-orange);
	}

	.email-button {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		padding: 0.5rem 1.5rem;
		border-radius: 999rem;
		background: var(--gradient-accent);
		color: var(--accent-text-over);
		text-decoration: none;
		font-size: var(--text-sm);
		transition: background-color var(--theme-transition);
	}

	.email-button:hover {
		background: var(--gradient-accent-orange);
	}

	.theme-toggle {
		display: flex;
		align-items: center;
		height: calc(var(--icon-size) + 2 * var(--icon-padding));
	}

	@media (min-width: 50em) {
		nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 1.5rem 2.5rem;
		}

		.menu-header {
			padding: 0;
		}

		.site-title {
			font-size: var(--text-lg);
		}

		.menu-content {
			position: static;
			width: auto;
			height: auto;
			background-color: transparent;
			transform: none;
			transition: none;
			box-shadow: none;
		}

		.menu-content[hidden] {
			display: contents;
		}

		.nav-items {
			position: relative;
			flex-direction: row;
			font-size: 16px;
			font-weight: 800;
			border-radius: 0;
			border: 0;
			padding: 0.5rem 0.5625rem;
			background: transparent;
			box-shadow: none;
			justify-content: flex-end;
			margin-left: auto;
		}

		.nav-items::before {
			display: none;
		}

		.link {
			padding: 0.5rem 1rem;
			border-radius: 0;
			transition: color 0.2s ease;
		}

		.link:hover,
		.link:focus {
			color: var(--accent-regular);
			background-color: transparent;
		}

		.link.active {
			color: var(--accent-regular);
			background-color: transparent;
		}

		.menu-footer {
			--icon-padding: 0.375rem;

			justify-self: flex-end;
			align-items: center;
			padding: 0;
			background-color: transparent;
			box-shadow: none;
		}

		.socials {
			display: flex;
			justify-content: flex-end;
			gap: 0;
		}

		.close-button {
			display: none;
		}

		.nav-items {
			margin-top: 0;
			padding: 0;
			flex-direction: row;
			gap: 1rem;
		}

		.nav-items .link {
			font-size: var(--text-base);
			font-weight: 800;
		}
	}

	@media (min-width: 60em) {
		.socials {
			display: flex;
			justify-content: flex-end;
			gap: 0;
		}
	}
	@media (forced-colors: active) {
		.link.active {
			color: SelectedItem;
		}
	}

	.close-button {
		position: absolute;
		top: 1rem;
		right: 1rem;
		padding: 0.75rem;
		border: 0;
		border-radius: 999rem;
		background: var(--gray-800);
		color: var(--gray-300);
		cursor: pointer;
		z-index: 1;
		font-size: 1.2rem;
		line-height: 1;
		width: 40px;
		height: 40px;
	}

	.close-button:hover {
		color: var(--gray-0);
		background: var(--gray-700);
	}

	.mobile-menu-footer {
		padding: 0 1.5rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin-top: 2rem;
	}

	.mobile-menu-footer .email-button {
		width: 100%;
		justify-content: center;
		margin: 1.5rem 0;
	}

	.mobile-menu-footer .socials {
		display: flex;
		justify-content: center;
		gap: 1.5rem;
		margin-top: 0.5rem;
	}

	.desktop-nav {
		display: none;
	}

	@media (min-width: 50em) {
		.desktop-nav {
			display: flex;
			align-items: center;
			gap: 1rem;
		}

		.menu-content {
			display: none;
		}

		nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 1.5rem 2.5rem;
		}

		.menu-header {
			padding: 0;
		}

		.nav-items {
			position: relative;
			flex-direction: row;
			font-size: var(--text-base);
			border: 0;
			padding: 0.5rem 0.5625rem;
			background: transparent;
			box-shadow: none;
			margin: 0;
		}

		.menu-footer {
			background: transparent;
			box-shadow: none;
			padding: 0;
		}

		.action-buttons {
			display: flex;
			align-items: center;
			gap: 1rem;
		}
	}
</style>